$icomoon-font-path: "fonts" !default;

$icon-chevron-down: "\e903";
$icon-chevron-down3: "\e900";
$icon-close: "\e906";
$icon-chevron-down2: "\e904";
$icon-menu: "\e907";
$icon-help: "\e905";
$icon-mail-envelope-closed: "\e901";
$icon-user: "\e902";

